<page-header></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card>
      <mat-card-title>Add Product</mat-card-title>
      <form class="matero-form-horizontal">
        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Product Name" [(ngModel)]="model.name" name="name">
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Barcode</mat-label>
              <input matInput placeholder="Barcode" [(ngModel)]="model.barcode" name="barcode">
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Categories</mat-label>
              <mat-select [(ngModel)]="model.categories" name="categories" multiple>
                <mat-option  *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput placeholder="Description" [(ngModel)]="model.description" name="description">
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Purchase Price</mat-label>
              <input matInput placeholder="Purchase Price" (keyup)="updateTotalCostValue()" [(ngModel)]="model.purchaseprice" name="purchaseprice">
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Carry Cost</mat-label>
              <input matInput placeholder="Carry Cost" (keyup)="updateTotalCostValue()" [(ngModel)]="model.carrycost" name="carrycost">
            </mat-form-field>
          </div>
          
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Total Cost Value</mat-label>
              <input matInput placeholder="Total Cost Value" [(ngModel)]="totalcostvalue" name="totalcostvalue">
            </mat-form-field>
          </div>

          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Sale Price</mat-label>
              <input matInput placeholder="Sale Price" [(ngModel)]="model.saleprice" name="saleprice">
            </mat-form-field>
          </div>
          
          
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Discount</mat-label>
              <input matInput placeholder="Discount" [(ngModel)]="model.discount" name="discount">
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input matInput placeholder="Quantity" [(ngModel)]="model.quantity" name="quantity">
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select [(ngModel)]="model.type" name="type">
                <mat-option  *ngFor="let cat of ['product','other']" value="{{cat}}">{{cat}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Purchasing</mat-label>
              <mat-select [(ngModel)]="model.purchaseactive" name="purchaseactive">
                <mat-option [value]="true">true</mat-option>
                <mat-option [value]="false">false</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Selling</mat-label>
              <mat-select [(ngModel)]="model.saleactive" name="saleactive">
                <mat-option [value]="true">true</mat-option>
                <mat-option [value]="false">false</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <button type="button" (click)="save()" mat-raised-button color="primary" class="m-t-8">Save</button>
      </form>
    </mat-card>
  </div>
</div>