<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">

  <!-- Statistics -->
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Total Sales</mat-card-title>
      <mat-card-content>
        <h2>{{ -chartofaccountbalancetotal["pos sale"] || 0 }}</h2>
        <easy-progress [value]="100"></easy-progress>
        <small class="text-muted">Total</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Inventory</mat-card-title>
      <mat-card-content>
        <h2>{{ chartofaccountbalancetotal["inventory"] || 0 }}</h2>
        <easy-progress [value]="100"></easy-progress>
        <small class="text-muted">Total</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-green-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Cash</mat-card-title>
      <mat-card-content>
        <h2>{{ chartofaccountbalancetotal["cash"] || 0 }}</h2>
        <easy-progress [value]="100"></easy-progress>
        <small class="text-muted">Total</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-teal-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">CGS</mat-card-title>
      <mat-card-content>
        <h2>{{ chartofaccountbalancetotal["cost of goods sold"] || 0 }}</h2>
        <easy-progress [value]="100"></easy-progress>
        <small class="text-muted">Total</small>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Charts -->
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="100">
    <mat-card>
      <div id="chart1"></div>
    </mat-card>
  </div>

</div>
