<page-header class="bg-green-600"></page-header>

<table mat-table [dataSource]="model" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>
  <ng-container matColumnDef="barcode">
    <th mat-header-cell *matHeaderCellDef> Barcode </th>
    <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Qty </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalQuantity() }} </td>
  </ng-container>
  <ng-container matColumnDef="purchaseprice">
    <th mat-header-cell *matHeaderCellDef> Cost Price </th>
    <td mat-cell *matCellDef="let element"> {{element.purchaseprice}} </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="carrycost">
    <th mat-header-cell *matHeaderCellDef> Carry Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.carrycost}} </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="totalcostvalue">
    <th mat-header-cell *matHeaderCellDef> Total Cost Value</th>
    <td mat-cell *matCellDef="let element"> {{(element.purchaseprice + element.carrycost)*element.quantity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCostValue() }} </td>
  </ng-container>
  <ng-container matColumnDef="saleprice">
    <th mat-header-cell *matHeaderCellDef> Sale Price </th>
    <td mat-cell *matCellDef="let element"> {{element.saleprice}} </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> Discount </th>
    <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="totalsalevalue">
    <th mat-header-cell *matHeaderCellDef> Total Sale Value </th>
    <td mat-cell *matCellDef="let element"> {{(element.saleprice -element.discount)*element.quantity}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalSaleValue() }} </td>
  </ng-container>
  <ng-container matColumnDef="action" sticky>
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" style="cursor: pointer;width: 10%;">
      <mat-icon (click)="edit(element)" style="color: #43A047;">edit</mat-icon>
      <mat-icon (click)="delete(element)" style="color:#E53935;">delete</mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <tr mat-header-row
    *matHeaderRowDef="['name','barcode','quantity','purchaseprice','carrycost','totalcostvalue','saleprice','discount','totalsalevalue','action']">
  </tr>
  <tr mat-row
    *matRowDef="let row; columns: ['name','barcode','quantity','purchaseprice','carrycost','totalcostvalue','saleprice','discount','totalsalevalue','action']">
  </tr>
  <tr mat-footer-row *matFooterRowDef="['name','barcode','quantity','purchaseprice','carrycost','totalcostvalue','saleprice','discount','totalsalevalue','action']; sticky: true"></tr>
</table>